.pos_page_inner {
	background: #fff;
	margin: 0 -20px;
}
.header_area .container-fluid {
	padding-left: 0;
	padding-right: 0;
}
/* 2.1 header top*/
.switcher > ul,.header_links > ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.switcher ul li{
    position: relative;
}
.header_top {
	padding: 0 20px;
	background: #ECECEC;
}
.switcher ul li a {
	font-size: 12px;
	height: 35px;
	color: #333333;
	display: block;
	line-height: 35px;
	font-weight: 400;
	width: 94px;
	text-align: center;
	cursor: pointer;
}
.switcher ul > li:hover > a.open{
    color: #fff;
}

.switcher ul > li:hover > a{
    background: #00bba6;
    color: #fff;
}
.header_links ul {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.header_links ul li a {
	padding: 7px 10px;
	display: block;
	font-size: 12px;
	line-height: 20px;
	color: #333333;
	font-weight: 400;
}
.header_links ul li a:hover{
    color: #044785;
    text-decoration: underline;
}
.dropdown_languages, .dropdown_currency {
	position: absolute;
	z-index: 9;
	max-height: 0;
	overflow: hidden;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.switcher ul li ul li a {
	background: #ECECEC;
}
.switcher ul li ul li {
	padding-top: 2px;
}
.dropdown_languages.open,.dropdown_currency.open {
	max-height: 100px;
}
/*header top css end*/

/* 2.2 header middel*/
.logo {
	padding-left: 30px;
}
.header_right_info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.header_middel {
	padding: 15px 20px;
}
.search_bar form {
  position: relative;
}
.search_bar form input {
	width: 275px;
	height: 38px;
	background: none;
	border: 1px solid #ddd;
	padding: 0 59px 0 15px;
}
.search_bar form button {
	position: absolute;
	right: 0;
	background: none;
	border: 0;
	border-left: 1px solid #ddd;
	font-size: 17px;
	color: #333333;
	width: 45px;
	height: 100%;
	cursor: pointer;
	-webkit-transition: .3s;
	transition: .3s;
	top: 0;
}
.search_bar form button:hover{
    background: #00bba6;
    color: #fff;
}
.header_links ul li:last-child a {
	padding-right: 0;
}
.shopping_cart {
	border: 1px solid #ddd;
	line-height: 38px;
	height: 38px;
	margin-left: 25px;
	position: relative;
}
.shopping_cart > a {
	font-size: 13px;
	padding: 0 15px;
	display: block;
}
.shopping_cart > a:hover{
    color: #EF0000;
}
.cart_item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-bottom: 1px solid #ddd;
	padding: 15px 0;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.mini_cart {
	position: absolute;
	width: 300px;
	background: #fff;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
	z-index: 999;
	padding: 10px 10px 20px;
	right: 0;
	top: 40px;
	display: none;
}
.cart_img {
	width: 30%;
	margin-right: 15px;
}
.cart_info {
	width: 60%;
}
.cart_remove {
	width: 10%;
	text-align: right;
}
.cart_info a {
	display: block;
	color: #333;
	font-size: 14px;
	text-transform: capitalize;
	font-weight: 400;
	line-height: 17px;
}
.cart_remove a {
	color: #044785;
	font-size: 20px;
}
.cart_info a:hover,.cart_remove a:hover{
    color: #EF0000;
}
.cart_info span.cart_price {
	font-size: 16px;
	font-weight: 700;
	display: block;
	line-height: 20px;
	padding: 6px 0 1px;
	color: #044785;
}
.cart_info span.quantity {
	font-size: 14px;
	line-height: 20px;
	display: block;
	font-weight: 400;
	color: #333;
}
.shipping_price,.total_price {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.shipping_price span,.total_price span {
	font-size: 13px;
	color: #333333;
	font-weight: 400;
}
.total_price span.prices{
    font-size: 16px;
    font-weight: 700;
}
.total_price {
	border-bottom: 1px solid #ddd;
}
.cart_button a {
	padding: 5px 10px;
	color: #fff;
	background: #044785;
	font-size: 13px;
	text-transform: uppercase;
	line-height: 20px;
	display: inline-block;
	margin-top: 13px;
}
.cart_button {
	text-align: right;
}
.cart_button a:hover{
    background: #022648;
}
/*header middel end*/


/* 2.3 header bottom */
.header_bottom {
	background: #044785;
	height: 50px;
	position: relative;
}
.main_menu nav > ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.main_menu_inner {
	padding: 0 20px;
}
.main_menu ul li{
    position: relative;
}
.main_menu nav > ul > li > a {
	line-height: 50px;
	display: block;
	padding: 0 20px;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	line-height: 50px;
	font-size: 18px;
	color: #fff;
	font-weight: 400;
}
/* .main_menu nav > ul > li.active > a,.main_menu nav > ul > li:hover > a{
    background: #3f709e;
}  */
.mega_menu {
	position: absolute;
	width: 600px;
	-webkit-box-shadow: 0 2px 2px 2px rgba(0,0,0,0.2);
	box-shadow: 0 2px 2px 2px rgba(0,0,0,0.2);
	background: #fff;
	padding: 15px 20px 25px;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: scaley(0);
	transform: scaley(0);
	-webkit-transition: .5s;
	transition: .5s;
	top: 100%;
	-webkit-transform-origin: 0 0 0;
	transform-origin: 0 0 0;
	left: 0;
	z-index: 99;
}
.main_menu nav ul li:hover .mega_menu {
	opacity: 1;
	visibility: visible;
	-webkit-transform: scaley(1);
	transform: scaley(1);
}
.mega_items h3 {
	margin-bottom: 0;
}
.mega_items {
	width: 30%;
	float: left;
	margin-right: 22px;
}
.mega_bottom {
	margin-top: 12px;
}
.mega_items:last-child {
	margin-right: 0;
}
.mega_items h3 {
	font-size: 18px;
	text-transform: uppercase;
	color: #333333;
	font-weight: 400;
	line-height: 32px;
	border-bottom: 1px solid #333;
	margin-bottom: 11px;
}
.mega_items h3 a:hover,.mega_items ul li a:hover{
    color: #3f709e;
}
.mega_items ul li a {
	font-size: 14px;
	text-transform: capitalize;
	font-weight: 400;
	color: #333;
	line-height: 32px;
}
.mega_thumb img {
	width: 100%;
	-webkit-transition: .3s;
	transition: .3s;
}
.mega_thumb:hover img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.mega_bottom {
	margin-top: 12px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.mega_thumb {
	margin-right: 20px;
	overflow: hidden;
}
.mega_thumb:last-child{
    margin-right: 0;
}
.mega_items.jewelry,.mega_items.custom {
	width: 100%;
}
.mega_menu.jewelry {
	width: 220px;
	padding: 15px 20px 14px;
}
.mega_menu.custom {
	width: 280px;
	padding: 15px 20px 14px;
}
.mega_items.custom {
	text-align: center;
}
.mega_items.custom h4 {
	font-size: 18px;
	text-transform: uppercase;
	color: #333333;
	font-weight: 400;
}
.mega_items.custom p {
	margin-bottom: 0;
	color: #333;
	font-weight: 400;
	line-height: 21px;
	margin-top: 5px;
}
/*header bottom css end*/

/*header css end*/

/* 2.12 footer area css here*/
.footer_area {
	color: #fff;
	background: #044785;
	padding: 38px 70px 0;
	position: relative;
}
.footer_widget h3 {
	min-height: 16px;
	padding: 5px 10px 5px 0;
	text-transform: uppercase;
	display: inline-block;
	font-size: 18px;
	color: #fff;
	margin-bottom: 10px;
}
.footer_widget_contect a {
	color: #fff;
	font-size: 13px;
	line-height: 25px;
}
.footer_widget_contect a:hover, .footer_widget ul li a:hover {
	color: #ea3a3c;
}
.footer_widget_contect p {
	margin-bottom: 7px;
	line-height: 20px;
}
.footer_widget_contect p i,.footer_widget_contect a i {
	font-size: 20px;
	margin-right: 8px;
}
.footer_widget ul li a {
	color: #fff;
	font-size: 14px;
	line-height: 25px;
	display: block;
	text-transform: capitalize;
	position: relative;
	padding-left: 15px;
}
.footer_widget ul li a::before {
	position: absolute;
	content: "\f104";
	font-family: Fontawesome;
	left: 0;
	font-size: 15px;
}
.footer_widget ul li {
  padding: 5px 0;
}
.footer_widget ul li:first-child {
	padding-top: 0;
}
.footer_widget ul li:last-child{
    padding-bottom: 0;
}
.footer_widget {
	margin-bottom: 40px;
}
.footer_social ul li,.copyright_area ul li {
	display: inline-block;
}
.copyright_area ul li a {
	text-transform: uppercase;
	color: #fff;
	padding-right: 20px;
	font-size: 14px;
	line-height: 28px;
}
.copyright_area ul li a:hover{
     color: #333;
}
.copyright_area p a {
	padding: 0 5px;
	color: #222;
    font-weight: 600;
}
.copyright_area p a:hover{
    text-decoration: underline;
    color: #e84c3d;
}
.footer_social ul li {
	margin-left: 10px;
}
.copyright_area ul li:last-child a {
	padding-right: 0;
}
.footer_social ul li:first-child {
	margin-left: 0;
}
.footer_social ul li a.pinterest {
	background: #BD0019;
}
.footer_social ul li a {
	width: 31px;
	height: 31px;
	display: block;
	text-align: center;
	line-height: 33px;
	font-size: 17px;
	border-radius: 50%;
	color: #fff;
}
.footer_social ul li a:hover{
    opacity: 0.8;
}
.footer_social ul li a img {
	border-radius: 50%;
}
.footer_social ul li:first-child a {
	background: #4267B2;	
}
.footer_social ul li:last-child a {
	background: #F09836;
}
.footer_social ul li:nth-last-child(3) a {
	background: #C02F14;
}
.footer_social ul li:nth-last-child(4) a {
	background: #E74B32;
}
.footer_social ul li:nth-last-child(5) a {
	background: #044785;
}
.footer_top {
	border-bottom: 1px solid #fff;
}
.copyright_area p {
	margin-bottom: 0;
}
.footer_bottom {
	padding: 15px 0 18px;
}
/*footer area css end*/
